USE [master]
GO
/****** Object:  Database [sew]    Script Date: 08.12.2017 9:56:28 ******/
CREATE DATABASE [sew]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sew', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sew.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sew_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sew_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sew].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sew]
GO
USE [sew]
GO
/****** Object:  UserDefinedFunction [dbo].[lenghttextile]    Script Date: 08.12.2017 9:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[lenghttextile] 
(
	@rulon varchar(50)
)
RETURNS float
AS
BEGIN
	-- Return the result of the function
	RETURN (select cast (SUM( [Ширина] * Длина) as float )  /10000 from sew.[dbo].[СкладТкани] Where [Ткань]=@rulon)
END
GO
/****** Object:  Table [dbo].[Изделия$]    Script Date: 08.12.2017 9:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Изделия$](
	[Артикул] [varchar](50) NOT NULL,
	[Изображение] [varchar](max) NULL,
	[Комментарии] [varchar](max) NULL,
	[Стоимость] [float] NULL,
	[Наименование] [nvarchar](255) NULL,
	[Ширина] [nvarchar](255) NULL,
	[Длина] [nvarchar](255) NULL,
 CONSTRAINT [PK_Изделия$] PRIMARY KEY CLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЗаказанныеИзделия]    Script Date: 08.12.2017 9:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЗаказанныеИзделия](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[Заказ] [int] NOT NULL,
	[Изделие] [varchar](50) NOT NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_ЗаказанныеИзделия] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 08.12.2017 9:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        dbo.Изделия$.Артикул, dbo.ЗаказанныеИзделия.Номер, dbo.ЗаказанныеИзделия.Заказ, dbo.ЗаказанныеИзделия.Изделие, dbo.ЗаказанныеИзделия.Количество, dbo.Изделия$.Наименование
FROM            dbo.ЗаказанныеИзделия INNER JOIN
                         dbo.Изделия$ ON dbo.ЗаказанныеИзделия.Изделие = dbo.Изделия$.Артикул
GO
/****** Object:  Table [dbo].[ЕдИзмерения]    Script Date: 08.12.2017 9:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЕдИзмерения](
	[Единица] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ЕдИзмерения] PRIMARY KEY CLUSTERED 
(
	[Единица] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 08.12.2017 9:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[Дата] [datetime2](7) NOT NULL,
	[Этап] [varchar](50) NOT NULL,
	[Заказчик] [varchar](50) NOT NULL,
	[Менеджер] [varchar](50) NULL,
	[Стоимость] [float] NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ИзмерениеНоменклатуры]    Script Date: 08.12.2017 9:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ИзмерениеНоменклатуры](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[Номенклатура] [varchar](50) NOT NULL,
	[ЕдиницаИзмерения] [varchar](50) NOT NULL,
	[Основная] [bit] NOT NULL,
 CONSTRAINT [PK_ИзмерениеНоменклатуры] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 08.12.2017 9:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[Логин] [varchar](50) NOT NULL,
	[Пароль] [varchar](50) NOT NULL,
	[Роль] [varchar](50) NOT NULL,
	[Наименование] [varchar](50) NULL,
 CONSTRAINT [PK_Пользователь] PRIMARY KEY CLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роль]    Script Date: 08.12.2017 9:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роль](
	[Роль] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Роль] PRIMARY KEY CLUSTERED 
(
	[Роль] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СкладТкани]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СкладТкани](
	[Рулон] [varchar](50) NOT NULL,
	[Ткань] [varchar](50) NOT NULL,
	[Ширина] [int] NOT NULL,
	[Длина] [int] NOT NULL,
	[Списано] [float] NULL,
 CONSTRAINT [PK_СкладТкани] PRIMARY KEY CLUSTERED 
(
	[Рулон] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СкладФурнитуры]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СкладФурнитуры](
	[Партия] [varchar](50) NOT NULL,
	[Фурнитура] [varchar](50) NOT NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_СкладФурнитуры] PRIMARY KEY CLUSTERED 
(
	[Партия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ткани$]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ткани$](
	[Артикул] [varchar](50) NOT NULL,
	[Название] [nvarchar](255) NULL,
	[Цвет] [nvarchar](255) NULL,
	[Рисунок] [nvarchar](255) NULL,
	[Состав] [nvarchar](255) NULL,
	[Ширина] [float] NULL,
	[Длина] [float] NULL,
	[Цена] [money] NULL,
	[Изображение] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ткани$] PRIMARY KEY CLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТканиИзделия]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТканиИзделия](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[Ткань] [varchar](50) NOT NULL,
	[Изделиe] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ТканиИзделия] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Фурнитура$]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Фурнитура$](
	[Артикул] [varchar](50) NOT NULL,
	[Наименование] [nvarchar](255) NULL,
	[Ширина] [nvarchar](255) NULL,
	[Длина] [nvarchar](255) NULL,
	[Тип] [nvarchar](255) NULL,
	[Цена] [float] NULL,
	[Вес] [float] NULL,
 CONSTRAINT [PK_Фурнитура$] PRIMARY KEY CLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ФурнитураИзделия]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ФурнитураИзделия](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[Фурнитура] [varchar](50) NOT NULL,
	[Изделие] [varchar](50) NOT NULL,
	[Размещение] [varchar](max) NOT NULL,
	[Ширина] [int] NULL,
	[Длинна] [int] NULL,
	[Поворот] [int] NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_ФурнитураИзделия] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЭтапВыполнения]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЭтапВыполнения](
	[Этап] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ЭтапВыполнения] PRIMARY KEY CLUSTERED 
(
	[Этап] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заказ] ON 

INSERT [dbo].[Заказ] ([Номер], [Дата], [Этап], [Заказчик], [Менеджер], [Стоимость]) VALUES (1, CAST(N'2017-10-21T00:00:00.0000000' AS DateTime2), N'готов', N'ABC', NULL, NULL)
INSERT [dbo].[Заказ] ([Номер], [Дата], [Этап], [Заказчик], [Менеджер], [Стоимость]) VALUES (8, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), N'Готов', N'abc', N'asd', 123)
INSERT [dbo].[Заказ] ([Номер], [Дата], [Этап], [Заказчик], [Менеджер], [Стоимость]) VALUES (9, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), N'Готов', N'abc', N'asd', 123)
SET IDENTITY_INSERT [dbo].[Заказ] OFF
SET IDENTITY_INSERT [dbo].[ЗаказанныеИзделия] ON 

INSERT [dbo].[ЗаказанныеИзделия] ([Номер], [Заказ], [Изделие], [Количество]) VALUES (0, 25, N'ПЦ-001.427.40', 123)
INSERT [dbo].[ЗаказанныеИзделия] ([Номер], [Заказ], [Изделие], [Количество]) VALUES (1, 1, N'ПЦ-001.427.40', 20)
INSERT [dbo].[ЗаказанныеИзделия] ([Номер], [Заказ], [Изделие], [Количество]) VALUES (2, 29, N'ПЦ-001.427.40', 1)
SET IDENTITY_INSERT [dbo].[ЗаказанныеИзделия] OFF
INSERT [dbo].[Изделия$] ([Артикул], [Изображение], [Комментарии], [Стоимость], [Наименование], [Ширина], [Длина]) VALUES (N'ПЦ-001.427.40', NULL, NULL, 39000, N'Простыня', N'260', N'150')
INSERT [dbo].[Изделия$] ([Артикул], [Изображение], [Комментарии], [Стоимость], [Наименование], [Ширина], [Длина]) VALUES (N'ПЦ-001.635.58', NULL, NULL, 15000, N'Простыня', N'100', N'150')
INSERT [dbo].[Изделия$] ([Артикул], [Изображение], [Комментарии], [Стоимость], [Наименование], [Ширина], [Длина]) VALUES (N'ПЦ-001.745.14', NULL, NULL, 3500, N'Полотенце кухонное', N'60', N'30')
GO
INSERT [dbo].[Пользователь] ([Логин], [Пароль], [Роль], [Наименование]) VALUES (N'', N'', N'Заказчик', N'')
INSERT [dbo].[Пользователь] ([Логин], [Пароль], [Роль], [Наименование]) VALUES (N'a', N'a', N'Заказчик', N'a')
INSERT [dbo].[Пользователь] ([Логин], [Пароль], [Роль], [Наименование]) VALUES (N'abc', N'abc', N'Заказчик', N'abc')
INSERT [dbo].[Роль] ([Роль]) VALUES (N'Заказчик')
INSERT [dbo].[Роль] ([Роль]) VALUES (N'Кладовщик')
INSERT [dbo].[Роль] ([Роль]) VALUES (N'Менеджер')
INSERT [dbo].[СкладТкани] ([Рулон], [Ткань], [Ширина], [Длина], [Списано]) VALUES (N'1', N'1027', 150, 700, 15.940000000000012)
INSERT [dbo].[СкладТкани] ([Рулон], [Ткань], [Ширина], [Длина], [Списано]) VALUES (N'2', N'1027', 200, 20000, 22.740000000000002)
INSERT [dbo].[СкладТкани] ([Рулон], [Ткань], [Ширина], [Длина], [Списано]) VALUES (N'3', N'1028', 160, 7980, 8.9199999999999982)
INSERT [dbo].[Ткани$] ([Артикул], [Название], [Цвет], [Рисунок], [Состав], [Ширина], [Длина], [Цена], [Изображение]) VALUES (N'1015', N'', N'124', N'125', N'126', 127, 128, 123.3450, N'130')
INSERT [dbo].[Ткани$] ([Артикул], [Название], [Цвет], [Рисунок], [Состав], [Ширина], [Длина], [Цена], [Изображение]) VALUES (N'1016', N'Атлас однотонный "Волна"', N'синий', N'однотонная', N'100% полиэстер', 150, 100, 220.0000, N'./123.png')
INSERT [dbo].[Ткани$] ([Артикул], [Название], [Цвет], [Рисунок], [Состав], [Ширина], [Длина], [Цена], [Изображение]) VALUES (N'1017', N'Атлас однотонный "Молодая трава"', N'зеленый', N'однотонная', N'100% полиэстер', 150, 100, 220.0000, N'./123.png')
GO
SET IDENTITY_INSERT [dbo].[ТканиИзделия] ON 

INSERT [dbo].[ТканиИзделия] ([Номер], [Ткань], [Изделиe]) VALUES (1, N'1027', N'ПЦ-001.745.14')
INSERT [dbo].[ТканиИзделия] ([Номер], [Ткань], [Изделиe]) VALUES (2, N'1028', N'ПЦ-001.635.58')
SET IDENTITY_INSERT [dbo].[ТканиИзделия] OFF
INSERT [dbo].[Фурнитура$] ([Артикул], [Наименование], [Ширина], [Длина], [Тип], [Цена], [Вес]) VALUES (N' 2807 ТУ ', N'Лента', N'', N'', N'Лента ', 0.19, 27)
INSERT [dbo].[Фурнитура$] ([Артикул], [Наименование], [Ширина], [Длина], [Тип], [Цена], [Вес]) VALUES (N' B-1512', N'Бретели для бюстгальтеров "Gamma" B-15 в блистере 15 мм прозрачный', N'5 мм', N'15 мм', N'Бретели', 116, 13)
INSERT [dbo].[Фурнитура$] ([Артикул], [Наименование], [Ширина], [Длина], [Тип], [Цена], [Вес]) VALUES (N' FER-05', N'"Zlatka" FER-05 Застежка для сумки ', N'205 мм', N'70 мм', N'Застежка', 565, 3)
GO
INSERT [dbo].[ЭтапВыполнения] ([Этап]) VALUES (N'Готов')
INSERT [dbo].[ЭтапВыполнения] ([Этап]) VALUES (N'К оплате')
INSERT [dbo].[ЭтапВыполнения] ([Этап]) VALUES (N'Новый')
ALTER TABLE [dbo].[СкладТкани] ADD  CONSTRAINT [DF_СкладТкани_Списано]  DEFAULT ((0)) FOR [Списано]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пользователь] FOREIGN KEY([Заказчик])
REFERENCES [dbo].[Пользователь] ([Логин])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пользователь]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пользователь1] FOREIGN KEY([Менеджер])
REFERENCES [dbo].[Пользователь] ([Логин])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пользователь1]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_ЭтапВыполнения] FOREIGN KEY([Этап])
REFERENCES [dbo].[ЭтапВыполнения] ([Этап])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_ЭтапВыполнения]
GO
ALTER TABLE [dbo].[ЗаказанныеИзделия]  WITH CHECK ADD  CONSTRAINT [FK_ЗаказанныеИзделия_Заказ] FOREIGN KEY([Заказ])
REFERENCES [dbo].[Заказ] ([Номер])
GO
ALTER TABLE [dbo].[ЗаказанныеИзделия] CHECK CONSTRAINT [FK_ЗаказанныеИзделия_Заказ]
GO
ALTER TABLE [dbo].[ИзмерениеНоменклатуры]  WITH CHECK ADD  CONSTRAINT [FK_ИзмерениеНоменклатуры_ЕдИзмерения] FOREIGN KEY([ЕдиницаИзмерения])
REFERENCES [dbo].[ЕдИзмерения] ([Единица])
GO
ALTER TABLE [dbo].[ИзмерениеНоменклатуры] CHECK CONSTRAINT [FK_ИзмерениеНоменклатуры_ЕдИзмерения]
GO
ALTER TABLE [dbo].[ИзмерениеНоменклатуры]  WITH CHECK ADD  CONSTRAINT [FK_ИзмерениеНоменклатуры_Ткани$] FOREIGN KEY([Номенклатура])
REFERENCES [dbo].[Ткани$] ([Артикул])
GO
ALTER TABLE [dbo].[ИзмерениеНоменклатуры] CHECK CONSTRAINT [FK_ИзмерениеНоменклатуры_Ткани$]
GO
ALTER TABLE [dbo].[ИзмерениеНоменклатуры]  WITH CHECK ADD  CONSTRAINT [FK_ИзмерениеНоменклатуры_Фурнитура$] FOREIGN KEY([ЕдиницаИзмерения])
REFERENCES [dbo].[Фурнитура$] ([Артикул])
GO
ALTER TABLE [dbo].[ИзмерениеНоменклатуры] CHECK CONSTRAINT [FK_ИзмерениеНоменклатуры_Фурнитура$]
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD  CONSTRAINT [FK_Пользователь_Роль] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роль] ([Роль])
GO
ALTER TABLE [dbo].[Пользователь] CHECK CONSTRAINT [FK_Пользователь_Роль]
GO
ALTER TABLE [dbo].[СкладТкани]  WITH CHECK ADD  CONSTRAINT [FK_СкладТкани_Ткани$] FOREIGN KEY([Ткань])
REFERENCES [dbo].[Ткани$] ([Артикул])
GO
ALTER TABLE [dbo].[СкладТкани] CHECK CONSTRAINT [FK_СкладТкани_Ткани$]
GO
ALTER TABLE [dbo].[СкладФурнитуры]  WITH CHECK ADD  CONSTRAINT [FK_СкладФурнитуры_Фурнитура$] FOREIGN KEY([Фурнитура])
REFERENCES [dbo].[Фурнитура$] ([Артикул])
GO
ALTER TABLE [dbo].[СкладФурнитуры] CHECK CONSTRAINT [FK_СкладФурнитуры_Фурнитура$]
GO
ALTER TABLE [dbo].[ТканиИзделия]  WITH CHECK ADD  CONSTRAINT [FK_ТканиИзделия_Изделия$] FOREIGN KEY([Изделиe])
REFERENCES [dbo].[Изделия$] ([Артикул])
GO
ALTER TABLE [dbo].[ТканиИзделия] CHECK CONSTRAINT [FK_ТканиИзделия_Изделия$]
GO
ALTER TABLE [dbo].[ТканиИзделия]  WITH CHECK ADD  CONSTRAINT [FK_ТканиИзделия_Ткани$] FOREIGN KEY([Ткань])
REFERENCES [dbo].[Ткани$] ([Артикул])
GO
ALTER TABLE [dbo].[ТканиИзделия] CHECK CONSTRAINT [FK_ТканиИзделия_Ткани$]
GO
ALTER TABLE [dbo].[ФурнитураИзделия]  WITH CHECK ADD  CONSTRAINT [FK_ФурнитураИзделия_Изделия$] FOREIGN KEY([Изделие])
REFERENCES [dbo].[Изделия$] ([Артикул])
GO
ALTER TABLE [dbo].[ФурнитураИзделия] CHECK CONSTRAINT [FK_ФурнитураИзделия_Изделия$]
GO
ALTER TABLE [dbo].[ФурнитураИзделия]  WITH CHECK ADD  CONSTRAINT [FK_ФурнитураИзделия_Фурнитура$] FOREIGN KEY([Фурнитура])
REFERENCES [dbo].[Фурнитура$] ([Артикул])
GO
ALTER TABLE [dbo].[ФурнитураИзделия] CHECK CONSTRAINT [FK_ФурнитураИзделия_Фурнитура$]
GO
/****** Object:  StoredProcedure [dbo].[Obrezka]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Obrezka]
	@t varchar(50),
	@izd_l int,
	@izd_h int
AS
BEGIN
declare @height int = (select case	when @izd_h>@izd_l then @izd_l
									else @izd_h end)
declare @length int = (select case	when @izd_h<@izd_l then @izd_l
									else @izd_h end)
declare @b varchar(50)=(select top 1 Рулон from (select ([Ширина]-@length) as Ширин , [Длина]-@height as Длин, Рулон from [dbo].[СкладТкани] where [Ткань] = @t) as tabl where (Ширин>=0 and Длин>=0))
declare @c varchar(50)=(select top 1 Рулон from (select ([Ширина]-@height) as Ширин , [Длина]-@length as Длин, Рулон from [dbo].[СкладТкани] where [Ткань] = @t) as tabl where (Ширин>=0 and Длин>=0))
BEGIN

	If @b is not null
	begin
		Update [dbo].[СкладТкани] SET [Длина]=[Длина]-@height, [Списано] = [Списано] + (select cast (SUM( ([Ширина] - @length) * @height) as numeric ) /10000 from [dbo].[СкладТкани] Where [Рулон]=@b) Where [Рулон]=@b
		return @b;
	end
	else
	begin	
		IF @c is not null
		begin
			Update [dbo].[СкладТкани] SET [Длина]=[Длина]-@length,[Списано] = [Списано] + (select cast (SUM( ([Ширина] - @height) * @length) as numeric ) /10000 from [dbo].[СкладТкани] Where [Рулон]=@c) Where [Рулон]=@c
			return @c;
		end
		else
		begin
			return -1;
		end
	end

END
END
GO
/****** Object:  StoredProcedure [dbo].[Ostatki]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Ostatki]
	@rulon varchar(50)
AS
BEGIN
	return (select cast (SUM( [Ширина] * Длина) as numeric ) from [dbo].[СкладТкани] Where [Ткань]=@rulon) /10000
END
GO
/****** Object:  StoredProcedure [dbo].[Пользователь_I]    Script Date: 08.12.2017 9:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Пользователь_I]
	@Логин       VARCHAR (50),
    @Пароль      VARCHAR (50),
    @Наименование VARCHAR (50)
AS
	INSERT INTO [dbo].[Пользователь]
           ([Логин]
           ,[Пароль]
           ,[Роль]
           ,[Наименование])
     VALUES
           (@Логин
           ,@Пароль
           ,'Заказчик'
           ,@Наименование)
RETURN 0
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Изделия$"
            Begin Extent = 
               Top = 4
               Left = 603
               Bottom = 191
               Right = 777
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ЗаказанныеИзделия"
            Begin Extent = 
               Top = 18
               Left = 328
               Bottom = 191
               Right = 502
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
USE [master]
GO
